body
{
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-position: center;
}
.login-contianer{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 35px;
    background-color: white;
    padding: 0px;
    width: 40%;
    border-radius: 15px;
}
.form-cc
{    padding: 40px;
    margin-top: 0px;
    float: left;
    width: 100%;
}

.userloginheading
{
    color: #04878c;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;

    margin-bottom: 25px;
}

.form-control
{
    background-color: #f2ffffbd;
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    padding: 9px;
    padding-top: 15px;
    padding-bottom: 20px;
    height: 55px;
    border: 1px solid #55b6bc;
    margin-top: 15px;

}

.welcome
{
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: unset;
    text-transform: uppercase;
    padding-top: 15px;
    letter-spacing: 3px;
}

.st0 {
    fill:black !important;
}
.subtext
{
    color: white;
    text-align: center;
    font-family: inherit;
}

.anchr{
    color: #1bb79a;
}

.submitbtn{
    color: white;
    text-align: center;
    padding: 10px;
    width: 60%;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: sans-serif;
    background-image: linear-gradient(to right top, #00a1b5, #00a6b5, #00acb5, #00b1b4, #00b6b2);
    margin-bottom: 25px;
}
.width100{width:100%;}
.mt40{margin-top:40px;}
.form-control::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
.m-auto{
    margin:auto;
}

.pull-left{float:left;}
.anchr:hover{cursor:pointer;color:#00a1b5;}
.box svg
{
    height: auto;
    width: 100%;
    background-size: 100%;
    background-position: center;
}

.bg_top {
    width: 100%;
    height: 330px;
    float: left;
    background-size: 100%;
    background-image: url(https://1.bp.blogspot.com/-XC-quFCZhpI/XZH0Jse0VkI/AAAAAAAATU0/0PHRWZR-HQgmoNWoiwVF8Ux0O6Z4guZ5wCLcBGAsYHQ/s1600/bg-top.png);
}

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.star1
{
    -webkit-animation: blink-1 0.6s infinite both;
    animation: blink-1 0.6s infinite both;
}

.star2
{
    -webkit-animation: blink-1 1s infinite both;
    animation: blink-1 1s infinite both;
}

.star3
{
    -webkit-animation: blink-1 1.2s infinite both;
    animation: blink-1 1.2s infinite both;
}

.star4
{
    -webkit-animation: blink-1 1.4s infinite both;
    animation: blink-1 1.4s infinite both;
}

.star5
{
    -webkit-animation: blink-1 1.6s infinite both;
    animation: blink-1 1.6s infinite both;
}

.star6
{
    -webkit-animation: blink-1 1.8s infinite both;
    animation: blink-1 1.8s infinite both;
}
.star7
{
    -webkit-animation: blink-1 1.9s infinite both;
    animation: blink-1 1.9s infinite both;
}

.star8
{
    -webkit-animation: blink-1 2s infinite both;
    animation: blink-1 2s infinite both;
}

.star9
{
    -webkit-animation: blink-1 2.2s infinite both;
    animation: blink-1 2.2s infinite both;
}

.star10
{
    -webkit-animation: blink-1 2.4s infinite both;
    animation: blink-1 2.4s infinite both;
}


.box{
    height:600px;
    width:100%;
    margin:auto;
    background-size:100%;
    background-position:center;
}





@media (max-width:1024px)  {
    .login-contianer
    {
        top: 1px;
    }


    .bg_top
    {
        height: 75px;
        background-repeat: no-repeat;
    }
    .form-cc
    {
        padding: 5px;
    }
    .form-control
    {
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 16px;
        margin-top: 4px;
    }

    .form-group {
        margin-bottom: 5px;
    }
    .submitbtn
    {
        font-size: 9px;
        padding: 5px;
        margin-bottom: 0px;
        margin-top: 2px;
    }

    .mt40 {
        margin-top: 0px;
    }
    .anchr {
        font-size: 11px;
        margin-top: 10px;
    }

    .userloginheading
    {
        padding: 0px;   margin-bottom: 10px;font-size:10px;
    }

    .welcome
    {
        font-size: 12px;
    }

    .subtext
    {
        font-size:13px;
    }
}


@media (max-width:600px)  {
    .login-contianer
    {
        top: 1px;
        width: 60%;
    }
    .bg_top {
        height: 245px;
        background-repeat: no-repeat;
    }


    .form-cc
    {
        padding: 5px;
    }
    .form-control
    {
        font-size: 8px;
        padding-top: 6px;
        padding-bottom: 7px;
        height: 16px;
        margin-top: 0px;
    }

    .form-group {
        margin-bottom: 5px;
    }
    .submitbtn
    {
        font-size: 5px;
        padding: 3px;
        margin-bottom: 0px;
        margin-top: -10px;
    }

    .mt40 {
        margin-top: 0px;
    }
    .anchr {
        font-size: 6px;
        margin-top: -5px;
    }

    .userloginheading
    {
        padding: 0px;   margin-bottom: 10px;font-size: 5px;
    }

    .welcome
    {
        font-size: 4px;
    }

    .subtext
    {
        font-size: 5px;
    }
}

@media (max-width:320px)  {

    .login-contianer
    {
        top: 1px;
    }


    .bg_top
    {
        height: 95px;
        background-repeat: no-repeat;
    }
    .form-cc
    {
        padding: 5px;
    }
    .form-control
    {
        font-size: 8px;
        padding-top: 6px;
        padding-bottom: 7px;
        height: 16px;
        margin-top: 0px;
    }

    .form-group {
        margin-bottom: 5px;
    }
    .submitbtn
    {
        font-size: 5px;
        padding: 3px;
        margin-bottom: 0px;
        margin-top: -10px;
    }

    .mt40 {
        margin-top: 0px;
    }
    .anchr {
        font-size: 6px;
        margin-top: -5px;
    }

    .userloginheading
    {
        padding: 0px;   margin-bottom: 10px;font-size: 5px;
    }

    .welcome
    {
        font-size: 4px;
    }

    .subtext
    {
        font-size: 5px;
    }
}


@media (max-width:480px)  {
    .login-contianer
    {
        top: 1px;
        width: 55%;
    }


    .bg_top
    {
        height: 245px;
        background-repeat: no-repeat;
    }
    .form-cc
    {
        padding: 5px;
    }
    .form-control
    {
        font-size: 8px;
        padding-top: 6px;
        padding-bottom: 7px;
        height: 16px;
        margin-top: 0px;
    }

    .form-group {
        margin-bottom: 5px;
    }
    .submitbtn
    {
        font-size: 5px;
        padding: 3px;
        margin-bottom: 0px;
        margin-top: -10px;
    }

    .mt40 {
        margin-top: 0px;
    }
    .anchr {
        font-size: 6px;
        margin-top: -5px;
    }

    .userloginheading
    {
        padding: 0px;   margin-bottom: 10px;font-size: 5px;
    }

    .welcome
    {
        font-size: 4px;
    }

    .subtext
    {
        font-size: 5px;
    }
}